{% extends "master.html" %}

{% block title %}
    My Detect.Id - Adicionar Utente
{% endblock %}

{% block content %}

<style>
  .form-container {
    max-width: 800px;
    margin: auto auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  h3 {
    text-align: center;
    
  }
  h1 {
    color: #2c3e50;
    max-width: 900px;
    margin: 20px auto auto auto; /* margem superior ajustada */
    padding: 20px;
  }

  form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }

  form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  .submit-btn {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background-color: #007041;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #0b462d;
  }
</style>

<h1><u>Adicionar Utente</u></h1>

<div class="form-container">

  <form method="POST" action="{% url 'adicionar_utente' %}">
    {% csrf_token %}

    <h3>Dados do Utente</h3>

    <label for="firstname">Primeiro Nome:</label>
    <input type="text" id="firstname" name="firstname" required>

    <label for="lastname">Último Nome:</label>
    <input type="text" id="lastname" name="lastname" required>

    <label for="birthday">Data de Nascimento:</label>
    <input type="date" id="birthday" name="birthday" required>

    <label for="gender">Género:</label>
    <select id="gender" name="gender" required>
      <option value="Male">Masculino</option>
      <option value="Female">Feminino</option>
      <option value="Other">Outro</option>
    </select>

    <label for="NumeroUtente">Número de Utente:</label>
    <input type="text" id="NumeroUtente" name="NumeroUtente" required>

    <label for="QueixasEntrada">Queixas de Entrada:</label>
    <input type="text" id="QueixasEntrada" name="QueixasEntrada" required>

    <label for="Alergias">Alergias:</label>
    <input type="text" id="Alergias" name="Alergias" required>

    <label for="DiagnosticoPrincipal">Diagnóstico Principal:</label>
    <input type="text" id="DiagnosticoPrincipal" name="DiagnosticoPrincipal" required>

    <label for="Serviço">Serviço:</label>
    <select id="Serviço" name="Serviço" required>
      <option value="Urgência">Urgência</option>
      <option value="Internamento">Internamento</option>
      <option value="UCI">UCI</option>
    </select>
    <br>  <br>
    <h3>Medições</h3>

    <label for="SpO2">SpO2:</label>
    <input type="text" id="SpO2" name="SpO2">

    <label for="NecessidadeO2">Necessidade de O2:</label>
    <input type="text" id="NecessidadeO2" name="NecessidadeO2" required>

    <label for="FrequenciaCardiaca">Frequência Cardíaca:</label>
    <input type="text" id="FrequenciaCardiaca" name="FrequenciaCardiaca" required>

    <label for="TASistolica">TA Sistólica:</label>
    <input type="text" id="TASistolica" name="TASistolica" required>

    <label for="TADiastolica">TA Diastólica:</label>
    <input type="text" id="TADiastolica" name="TADiastolica" required>

    <label for="Temperatura">Temperatura:</label>
    <input type="text" id="Temperatura" name="Temperatura" required>

    <label for="NívelConsciencia">Nível de Consciência:</label>
    <input type="text" id="NívelConsciencia" name="NívelConsciencia" required>

    <label for="Dor">Dor:</label>
    <input type="text" id="Dor" name="Dor" required>

    <button class="submit-btn" type="submit">Adicionar</button>
  </form>
</div>

{% endblock %}
