{% extends "master.html" %}
{% load static %}

{% block title %}
  My Detect.id - List of all utentes
{% endblock %}

{% block content %}

<!-- NAVBAR VERDE -->
<div style="background-color: green; display: flex; align-items: center; padding: 10px;">
  <!-- LOGO/IMAGEM À ESQUERDA -->
  <img src="{% static 'images/detectid.png' %}" alt="Logo" style="height: 100px; margin-right: 20px;">
    <!-- LINKS AO CENTRO -->
    <div style="flex-grow: 1; text-align: center;">
      <a href="/" style="color: yellow; text-decoration: none; font-weight: bold; margin: 0 70px;font-size: 25px;">HOME</a>
      <a href="/adicionarUtente" style="color: yellow; text-decoration: none; font-weight: bold; margin: 0 70px;font-size: 25px;">Adicionar Utente</a>
  </div>
</div>

<h1 style="margin-left: 15%; ">Utentes</h1>

<!-- Formulário para filtrar e ordenar -->
<form method="GET" action="{% url 'listarUtentes' %}" style="text-align: center; margin-bottom: 20px;">
    <!-- Filtro por Risco -->
    <label for="risk">Filtrar por Risco:</label>
    <select name="risk" id="risk">
        <option value="">Todos</option>
        <option value="High Risk" {% if request.GET.risk == "High Risk" %}selected{% endif %}>High Risk</option>
        <option value="Some Risk" {% if request.GET.risk == "Some Risk" %}selected{% endif %}>Some Risk</option>
        <option value="No Risk" {% if request.GET.risk == "No Risk" %}selected{% endif %}>No Risk</option>
    </select>

    <!-- Ordenação -->
    <label for="order">Ordenar por:</label>
    <select name="order" id="order">
        <option value="NoOrder" {% if request.GET.order == "NoOrder" %}selected{% endif %}>No Order</option>
        <option value="firstname" {% if request.GET.order == "firstname" %}selected{% endif %}>Nome (A-Z)</option>
        <option value="-firstname" {% if request.GET.order == "-firstname" %}selected{% endif %}>Nome (Z-A)</option>
        <option value="birthday" {% if request.GET.order == "birthday" %}selected{% endif %}>Nascimento (Antigo - Novo)</option>
        <option value="-birthday" {% if request.GET.order == "-birthday" %}selected{% endif %}>Nascimento (Novo - Antigo)</option>
    </select>

    <button type="submit">Aplicar</button>
</form>

<table border='1' style="margin-left: auto; margin-right: auto; text-align: center;">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Número de Utente</th>
      <th>Genero</th>
      
    </tr>
    {% for x in mymembers %}
    
      <tr>
        <td>{{ x.0 }}</td>
        <td><a href="details/{{ x.0 }}">{{ x.1 }} {{ x.2 }}</a></td>
        <td>{{ x.7 }}/{{ x.6 }}/{{ x.5 }}</td>
        <td>{{ x.8 }}</td>
        {% if x.4 == 1 %}
        <td>Masculino</td>
        {% else %}
        <td>Feminino</td>
        {% endif %}
      </tr>
    {% endfor %}
</table>

{% endblock %}
