{% extends "master.html" %}
{% load hd_valoresCoresVAV %}

{% block title %}
  My Detect.id - List of all utentes
{% endblock %}

{% block content %}

<style>
  .page-title {
    margin-left: 10%;
    font-size: 2em;
    text-decoration: underline;
  }

  h1, h3 {
    color: #2c3e50;
  }

  .filter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    flex-wrap: wrap;
  }

  .filter-form label {
    font-weight: bold;
  }

  .filter-form select,
  .filter-form button {
    padding: 6px 10px;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .filter-form button {
    background-color: #007041;
    color: white;
    border: none;
    cursor: pointer;
  }

  .filter-form button:hover {
    background-color: #0b462d;
  }

  .table-container {
    max-height: 600px;
    overflow-y: auto;
    margin: 0 auto;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
  }

  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  table a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }

  table a:hover {
    text-decoration: underline;
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  }

  .greenBoxGood {
    background-color: #129716;
    color: white;
  }

  .yellowBoxMedium {
    background-color: #E8A310;
    color: white;
  }

  .redBoxBad {
    background-color: #C91515;
    color: white;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    font-family: Arial, sans-serif;
  }

  .pagination a,
  .pagination span {
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    transition: background-color 0.3s ease;
  }

  .pagination a:hover {
    background-color: #007041;
    color: white;
    border-color: #007041;
  }

  .pagination span {
    background-color: #e9ecef;
    font-weight: bold;
  }

  .radiobutton{
    position: absolute;
    left: 15%;
  }
</style>

<h1 class="page-title">Utentes</h1>

<form method="GET" action="{% url 'listPatients' %}" style="text-align: center; margin: 20px auto;">
  
  <input type="text" name="search" placeholder="Pesquisar utente..." value="{{ request.GET.search }}" style="padding: 8px; width: 300px; border-radius: 6px; border: 1px solid #ccc; font-size: 1em;">
  <input type="hidden" name="service" value="{{ service_filter }}">
  <input type="hidden" name="event" value="{{ event_filter }}">
  <input type="hidden" name="temp_prev" value="{{ temp_prev }}">
  <button type="submit" style="padding: 8px 12px; background-color: #007041; color: white; border: none; border-radius: 6px; cursor: pointer;">Pesquisar</button>

  
  <div name="models" style="display: flex; justify-content: center; gap: 20px; margin-bottom: 10px;margin-top: 20px;">
  <label for="models"> <b>Modelo de Previsão:</b></label>
  <label>
    <input type="radio" name="model" value="rsf" onchange="this.form.submit()" {% if request.GET.model == "rsf"%}checked{% endif %}>
    RSF
  </label>
  <label>
    <input type="radio" name="model" value="km" onchange="this.form.submit()" {% if request.GET.model or not request.GET.model  == "km" %}checked{% endif %}>
    Kaplan-Meier
  </label>
</div>
</form>


<form method="GET" action="{% url 'listPatients' %}" class="filter-form">

  <label for="temp_prev">Tempo de Previsão:</label>
  <select name="temp_prev" id="temp_prev">
    <option value="24" {% if temp_prev == "24" %}selected{% endif %}>24h</option>
    <option value="48" {% if temp_prev == "48" %}selected{% endif %}>48h</option>
    <option value="72" {% if temp_prev == "72" %}selected{% endif %}>72h</option>
    <option value="96" {% if temp_prev == "96" %}selected{% endif %}>96h</option>
  </select>

  <label for="service">Filtrar por:</label>
  <select name="service" id="service">
    <option value="">Todos</option>
    <option value="Urgência" {% if service_filter == "Urgência" %}selected{% endif %}>Urgência</option>
    <option value="Internamento" {% if service_filter == "Internamento" %}selected{% endif %}>Internamento</option>
    <option value="UCI" {% if service_filter == "UCI" %}selected{% endif %}>UCI</option>
  </select>

  <label for="order">Ordenar por:</label>
  <select name="order" id="order">
    <option value="NoOrder" {% if order_by == "NoOrder" %}selected{% endif %}>No Order</option>
    <option value="first_name" {% if order_by == "first_name" %}selected{% endif %}>Nome (A-Z)</option>
    <option value="-first_name" {% if order_by == "-first_name" %}selected{% endif %}>Nome (Z-A)</option>
    <option value="birthday" {% if order_by == "birthday" %}selected{% endif %}>Nascimento (Antigo - Novo)</option>
    <option value="-birthday" {% if order_by == "-birthday" %}selected{% endif %}>Nascimento (Novo - Antigo)</option>
  </select>

  <label for="event">Evento:</label>
  <select name="event" id="event">
    <option value="1" {% if event_filter == "1" %}selected{% endif %}>Descompensação</option>
    <option value="2" {% if event_filter == "2" %}selected{% endif %}>Ativação Médica</option>
    <option value="3" {% if event_filter == "3" %}selected{% endif %}>Aumento de Vigilância</option>
    <option value="4" {% if event_filter == "4" %}selected{% endif %}>Via Área Ameaçada</option>
    <option value="5" {% if event_filter == "5" %}selected{% endif %}>Suporte Ventilatório</option>
    <option value="6" {% if event_filter == "6" %}selected{% endif %}>Suporte Circulatório</option>
    <option value="7" {% if event_filter == "7" %}selected{% endif %}>Mortalidade</option>
  </select>
  <input type="hidden" name="search" value="{{ search_query }}">
  <button type="submit">Aplicar</button>
</form>

<div class="table-container">
  <table>
<thead>
  <tr>
<th title="Nome do Utente">
  Nome
</th>
<th title="Risco Clínico">
  RC
  <div style="font-size: 0.75em; color: #666;">categorias</div>
</th>
<th title="Saturação de Oxigénio (SpO2)">
  SpO2
  <div style="font-size: 0.75em; color: #666;">%</div>
</th>
<th title="Necessidade de Oxigénio (O2)">
  O2
  <div style="font-size: 0.75em; color: #666;">Sim/Não</div>
</th>
<th title="Frequência Cardíaca">
  FC
  <div style="font-size: 0.75em; color: #666;">bpm</div>
</th>
<th title="Tensão Arterial Sistólica">
  TAS
  <div style="font-size: 0.75em; color: #666;">mmHg</div>
</th>
<th title="Tensão Arterial Diastólica">
  TAD
  <div style="font-size: 0.75em; color: #666;">mmHg</div>
</th>
<th title="Temperatura">
  Temp
  <div style="font-size: 0.75em; color: #666;">°C</div>
</th>
<th title="Nível de Consciência (GCS)">
  GCS
  <div style="font-size: 0.75em; color: #666;">1 a 15</div>
</th>
<th title="Presença de Dor">
  Dor
  <div style="font-size: 0.75em; color: #666;">Sim/Não</div>
</th>

  </tr>
</thead>

    <tbody>
      {% for item in mymembers %}
      <tr>
        <td><a href="utente/{{ item.person.person_id }}">{{ item.person.first_name }} {{ item.person.last_name }} 
          {% if item.global_prev|dict_value_first != item.global|dict_value_first %}
            <span title="Alteração de estado clínico" style="margin-left: 5px; color: red; font-weight: bold;"> ⚠️</span>
          {% endif %}
      </a></td>


        {% color_class_value item.global|dict_value_first "Global" item.person.person_id event_filter as global_class %}
        <td class="{{ global_class }}">{{ item.global|dict_value_first }}</td>

        {% color_class_value item.spo2 1 item.person.person_id event_filter as spo2_class %}
        <td class="{{ spo2_class }}">{{ item.spo2|floatformat:1 }}</td>

        {% color_class_value item.o2 2 item.person.person_id event_filter as o2_class %}
        <td class="{{ o2_class }}">{% if item.o2 >= 0.5 %} Sim {% else %} Não {% endif %}</td>

        {% color_class_value item.fc 3 item.person.person_id event_filter as fc_class %}
        <td class="{{ fc_class }}">{{ item.fc|floatformat:1 }}</td>

        {% color_class_value item.tas 4 item.person.person_id event_filter as tas_class %}
        <td class="{{ tas_class }}">{{ item.tas|floatformat:1 }}</td>

        {% color_class_value item.tad 5 item.person.person_id event_filter as tad_class %}
        <td class="{{ tad_class }}">{{ item.tad|floatformat:1 }}</td>

        {% color_class_value item.temp 6 item.person.person_id event_filter as temp_class %}
        <td class="{{ temp_class }}">{{ item.temp|floatformat:1 }}</td>

        {% color_class_value item.gcs 7 item.person.person_id event_filter as gcs_class %}
        <td class="{{ gcs_class }}">{{ item.gcs|floatformat:1 }}</td>

        {% color_class_value item.dor 8 item.person.person_id event_filter as dor_class %}
        <td class="{{ dor_class }}">{% if item.dor >= 0.5 %} Sim {% else %} Não {% endif %}</td>
      </tr>

      <tr>
        <td>Previsão {{temp_prev}}h:</td>

        {% color_class_value item.global_prev|dict_value_first "Global" item.person.person_id event_filter as global_prev_class %}
        <td class="{{ global_prev_class }}">{{ item.global_prev|dict_value_first }}</td>

        {% color_class_value item.prev.spo2 "prev" item.person.person_id event_filter as spo2_prev_class %}
        <td class="{{ spo2_prev_class }}"></td>

        {% color_class_value item.prev.o2 "prev" item.person.person_id event_filter as o2_prev_class %}
        <td class="{{ o2_prev_class }}"></td>

        {% color_class_value item.prev.fc "prev" item.person.person_id event_filter as fc_prev_class %}
        <td class="{{ fc_prev_class }}"></td>

        {% color_class_value item.prev.tas "prev" item.person.person_id event_filter as tas_prev_class %}
        <td class="{{ tas_prev_class }}"></td>

        {% color_class_value item.prev.tad "prev" item.person.person_id event_filter as tad_prev_class %}
        <td class="{{ tad_prev_class }}"></td>

        {% color_class_value item.prev.temp "prev" item.person.person_id event_filter as temp_prev_class %}
        <td class="{{ temp_prev_class }}"></td>

        {% color_class_value item.prev.gcs "prev" item.person.person_id event_filter as gcs_prev_class %}
        <td class="{{ gcs_prev_class }}"></td>

        {% color_class_value item.prev.dor "prev" item.person.person_id event_filter as dor_prev_class %}
        <td class="{{ dor_prev_class }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  {% if mymembers.has_previous %}
    <a href="?page={{ mymembers.previous_page_number }}&search={{ search_query }}&service={{ service_filter }}&order={{ order_by }}&event={{ event_filter }}&temp_prev={{ temp_prev }}">Anterior</a>
  {% endif %}

  <span>Página {{ mymembers.number }} de {{ mymembers.paginator.num_pages }}</span>

  {% if mymembers.has_next %}
    <a href="?page={{ mymembers.next_page_number }}&search={{ search_query }}&service={{ service_filter }}&order={{ order_by }}&event={{ event_filter }}&temp_prev={{ temp_prev }}">Seguinte</a>
  {% endif %}
</div>

{% endblock %}
