{% extends "master.html" %}
{% load hd_valoresCoresVAV %}

{% block title %}
  My Detect.Id - Detalhes de {{ mymember.first_name }} {{ mymember.last_name }}
{% endblock %}

{% block content %}
<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  h1, h3 {
    color: #2c3e50;
  }

  .container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }

  .section {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
  }

  table th, table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    background-color: white;
  }

  table th {
    background-color: #ecf0f1;
    color: #2c3e50;
  }

  .btn {
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
  }

  .btn-edit {
    background-color: #007041;
    color: white;
    font-size: 15px;
  }

  .btn-edit:hover {
    background-color: #0b462d;
  }

  .same-width-btn {
  width: 160px;
  text-align: center;
}

  .btn-delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }

  .btn-delete:hover {
    background-color: #c0392b;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 40%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content button {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }

  .text-bold {
    font-weight: bold;
  }

  .greenBoxGood {
  background-color: #129716;
  color: white;
}

.yellowBoxMedium {
  background-color: #E8A310;
  color: white;
}

.redBoxBad {
  background-color: #C91515;
  color: white;
}

</style>

<div class="container">

  <h1><u>{{ mymember.first_name }} {{ mymember.last_name }}</u></h1>

  <div class="section">
    <h3>Dados do Utente</h3>
    <p><span class="text-bold">Data de Nascimento:</span> {{ mymember.birthday }}</p>
    <p><span class="text-bold">Idade:</span> {{ idade }}</p>
    <p><span class="text-bold">Número de Utente:</span> {{ mymember.person_source_value }}</p>
    <p><span class="text-bold">Género:</span>
      {% if mymember.gender_concept_id == 1 %} Masculino {% else %} Feminino {% endif %}
    </p>
    <p><span class="text-bold">Data de Internamento:</span> {{ mycondition.condition_start_date }}</p>
    <p><span class="text-bold">Hora de Internamento:</span> {{ servico.0.visit_start_datetime.time|time:"H\hi" }}    </p>
    <p><span class="text-bold">Queixas de Entrada:</span>
      {% for note in notes %}
        {% if note.note_type_concept_id == 1 %}
          {{ note.note_text }}
        {% endif %}
      {% endfor %}
    </p>
    <p><span class="text-bold">Diagnóstico Principal:</span> {{ mycondition.condition_source_value }}</p>
    <p><span class="text-bold">Alergias:</span>
      {% for note in notes %}
        {% if note.note_type_concept_id == 2 %}
          {{ note.note_text }}
        {% endif %}
      {% endfor %}
    </p>
    <p><span class="text-bold">Antecedentes Pessoais:</span> <i>TODO</i></p>
    <p><span class="text-bold">Serviço:</span>
      {% if servico.0.care_site_id == 1 %}
        Urgência
      {% elif servico.0.care_site_id == 2 %}
        Internamento
      {% else %}
        UCI
      {% endif %}
    </p>
  </div>

  <div class="section">
    <h3>Histórico de Dados</h3>

    <form method="GET" action="{% url 'utente' mymember.person_id %}" style="margin-bottom: 20px;">

      <label for="evento">Escolher Evento:</label>
      <select name="evento" id="evento" required>
        <option value="1">Descompensação</option>
        <option value="2">Ativação Médica</option>
        <option value="3">Aumento da Vigilância</option>
        <option value="4">Via Aérea Ameaçada</option>
        <option value="5">Suporte Ventilatório</option>
        <option value="6">Suporte Circulatório</option>
        <option value="7">Mortalidade</option>
      </select>
    
      <button type="submit" class="btn btn-edit">Atualizar Tabela</button>
    </form>
    
    <table>
      <thead>
        <tr>
          <th style="width: 130px;">Data/Hora</th>
<th title="Risco Clínico">
  RC
  <div style="font-size: 0.75em; color: #666;">categorias</div>
</th>
<th title="Saturação de Oxigénio (SpO2)">
  SpO2
  <div style="font-size: 0.75em; color: #666;">%</div>
</th>
<th title="Necessidade de Oxigénio (O2)">
  O2
  <div style="font-size: 0.75em; color: #666;">Sim/Não</div>
</th>
<th title="Frequência Cardíaca">
  FC
  <div style="font-size: 0.75em; color: #666;">bpm</div>
</th>
<th title="Tensão Arterial Sistólica">
  TAS
  <div style="font-size: 0.75em; color: #666;">mmHg</div>
</th>
<th title="Tensão Arterial Diastólica">
  TAD
  <div style="font-size: 0.75em; color: #666;">mmHg</div>
</th>
<th title="Temperatura">
  Temp
  <div style="font-size: 0.75em; color: #666;">°C</div>
</th>
<th title="Nível de Consciência (GCS)">
  GCS
  <div style="font-size: 0.75em; color: #666;">1 a 15</div>
</th>
<th title="Presença de Dor">
  Dor
  <div style="font-size: 0.75em; color: #666;">Sim/Não</div>
        </tr>
      </thead>
      <tbody>

        {% for datetime, data in grouped_measurements.items %}
          <tr>
            <td>{{ datetime|date:"d/m/Y H\hi" }}</td>
            {% color_class_value data.risk "Global" mymember.person_id event_filter as global_class %}
            <td class="{{ global_class }}">{{ data.risk }}</td>

            {% for m in data.measurements %}
              {% color_class_value m.value_as_number m.measurement_concept_id mymember.person_id event_filter as color_class_value %}
              <td class="{{ color_class_value }}">
                {% if m.measurement_concept_id == 2 or m.measurement_concept_id == 8 %}
                  {% if m.value_as_number == 1 %} Sim {% else %} Não {% endif %}
                {% else %}
                  {{ m.value_as_number|floatformat:1 }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="section">
    <h3>Gráfico dos Dados</h3>
    <form method="GET" action="{% url 'grafico_view' mymember.person_id %}" style="margin-bottom: 20px;">
      <label for="parametro">Escolher Parâmetro:</label>
      <select name="parametro" id="parametro" required>
        <option value="RC">RC</option>
        <option value="1">SpO2</option>
        <option value="2">O2</option>
        <option value="3">FC</option>       
        <option value="4">TAS</option>
        <option value="5">TAD</option>
        <option value="6">Temp</option>
        <option value="7">GCS</option>
        <option value="8">Dor</option>
      </select>
    
      <label for="evento_grafico">Escolher Evento:</label>
      <select name="evento_grafico" id="evento_grafico" required>
        <option value="1">Descompensação</option>
        <option value="2">Ativação Médica</option>
        <option value="3">Aumento da Vigilância</option>
        <option value="4">Via Aérea Ameaçada</option>
        <option value="5">Suporte Ventilatório</option>
        <option value="6">Suporte Circulatório</option>
        <option value="7">Mortalidade</option>
      </select>
    
      <button type="button" class="btn btn-edit" onclick="atualizarGrafico()">Atualizar Gráfico</button>
    </form>

    <div id="loading" style="display:none; font-weight:bold;">Carregando gráfico...</div>

    
    <img id="graficoImagem"
    src="{% url 'grafico_view' mymember.person_id %}?parametro={{ request.GET.parametro|default:'4' }}&evento={{ request.GET.evento|default:'1' }}"
    alt="Gráfico do utente"
    style="width: 100%; max-height: 500px; object-fit: contain; margin-top: 10px;">


    <br><br>
    <div style="display: flex; gap: 12px; margin-top: 20px;">
      <a href="/utentes/editarUtente/{{ mymember.person_id }}" class="btn btn-edit same-width-btn">Editar Utente</a>
      <button onclick="openPopup()" class="btn btn-delete same-width-btn">Remover Utente</button>
    </div>
  </div>



  <!-- Popup  -->
  <div id="deletePopup" class="modal">
    <div class="modal-content">
      <h2>Confirmar Remoção</h2>
      <p>Tem certeza que deseja remover <strong>{{ mymember.first_name }} {{ mymember.last_name }}</strong>?</p>
      <form method="POST" action="{% url 'removerUtente' mymember.person_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-delete">Sim, remover</button>
        <button type="button" onclick="closePopup()">Cancelar</button>
      </form>
    </div>
  </div>

  <script>
    function openPopup() {
      document.getElementById("deletePopup").style.display = "block";
    }
    function closePopup() {
      document.getElementById("deletePopup").style.display = "none";
    }

    function atualizarGrafico() {
    //Faz um pedido com um url grafico/person_id, assim o Django corre o codigo associado a este url que é do gráfico
    //Fazendo isto o gráfico é atualizado na página, sendo também mostrado um texto da dizer "Carregar Grafico"
    const parametro = document.getElementById('parametro').value;
    const evento = document.getElementById('evento_grafico').value;
    const img = document.getElementById('graficoImagem');
    const personId = "{{ mymember.person_id }}";
    const loadingDiv = document.getElementById('loading');

    const novaUrl = `/grafico/${personId}?parametro=${parametro}&evento=${evento}`;

    loadingDiv.style.display = 'block';
    img.style.opacity = 0.5;

   
    img.onload = () => {
      loadingDiv.style.display = 'none';
      img.style.opacity = 1;
    };

    img.src = novaUrl;
  }
  </script>



</div>
{% endblock %}
